<h1>DETAILS OF PG    </h1>

<head>
      <style>
         p{
            width: 1040px; 
             border: 2px solid #000011;
  padding-right: 45px;
  outline-style: 20px;

         }

                 body  {
            background-image: url("C:/Sites/Myblog/p-g-rooms-1.jpg");
    background-image: url("p-g-rooms-1.jpg");

            background-color: #cccccc;
         }
 
      </style>
</head>

<body>
<p style="direction:rtl;","font-style:italic;">
DISPLAYING TE DETAILS

NAME =  <%= @pg.Pg_name  %>
 <br>

ADDRESS =  <%= @pg.Pg_address  %>
 <br>

CONTACT NUMBER = <%= @pg.Pg_phone  %>
 <br>

TOTAL NUMBER OF ROOMS = <%= @pg.Number_Rooms  %>
 <br>

FARE = <%= @pg.Tarrif  %>
 <br>

SHARING PER ROOM = 2
</p>

</body>