<h1>DETAILS OF CARETAKER    </h1>

<head>
      <style>
         p{
            width: 1040px; 
             border: 2px solid #000011;
  padding-right: 45px;
  outline-style: 20px;

         }

                 body  {
            background-image: url("C:/Sites/Myblog/p-g-rooms-1.jpg");
    background-image: url("p-g-rooms-1.jpg");

            background-color: #cccccc;
         }
 
      </style>
</head>

<body>
<p style="direction:rtl;","font-style:italic;">
DISPLAYING TE DETAILS

NAME =  <%= @caretaker.id  %>
 <br>

ADDRESS =  <%= @caretaker.address  %>
 <br>

CONTACT NUMBER = <%= @caretaker.phone  %>
 <br>

BEING PAID = <%= @caretaker.salary  %>
 <br>

AGE = <%= @caretaker.age  %>
 <br>

</p>

</body>